body{
    color:green
}
header.masthead.pageheading, header.masthead.pos
post-preview

#mainnav.navbar-brand{
    color:red;
    text-style:italic

}
#mainnav{
    position:fixed
}

#italicclass{
    font-style: italic;
}